.wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.input-text {
  width: 30%;
}

.input-text-search {
  border: 1px solid #ccc;
  border-right: 0;
}


.input-text,
.button {
  padding: 10px;
  font-size: 16px;
}

.button {
  width: auto;
}